In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/27792/household_service_delivery_data.csv")

In [5]:
print("First few rows of the dataset:")
print(df.head())

First few rows of the dataset:
   Household_ID  Household_Size  Head_Age Head_Gender    Region  \
0             1               1        39        Male  Region10
1             2               4        18        Male   Region2
2             3               7        60        Male   Region3
3             4               7        79        Male   Region8
4             5               1        19        Male   Region6

  Solid_Fuel_Usage Water_Access Sanitation_Access Housing_Type  \
0               No          Yes               Yes       Formal
1               No          Yes                No       Formal
2               No           No                No       Formal
3               No           No                No       Formal
4              Yes          Yes               Yes     Informal

  Satisfaction_Services Perceived_Quality Education_Level_Head   Latitude  \
0          Dissatisfied              Good              Primary -28.726463
1             Satisfied         Excellent              Primary -27.835596
2               Neutral              Poor             Tertiary -25.867070
3             Satisfied              Poor         No Education -27.997505
4          Dissatisfied              Poor            Secondary -29.724483

   Longitude
0  29.801959
1  30.849499
2  29.649159
3  27.709932
4  28.070850

In [6]:
print("\nSize of the dataset (rows, columns):")
print(df.shape)

Size of the dataset (rows, columns):
(1000, 14)

In [7]:
print("\nData types of each column:")
print(df.dtypes)

Data types of each column:
Household_ID               int64
Household_Size             int64
Head_Age                   int64
Head_Gender               object
Region                    object
Solid_Fuel_Usage          object
Water_Access              object
Sanitation_Access         object
Housing_Type              object
Satisfaction_Services     object
Perceived_Quality         object
Education_Level_Head      object
Latitude                 float64
Longitude                float64
dtype: object

In [8]:
print("\nSummary statistics of the dataset:")
print(df.describe(include='all'))

Summary statistics of the dataset:
        Household_ID  Household_Size     Head_Age Head_Gender   Region  \
count    1000.000000     1000.000000  1000.000000        1000     1000
unique           NaN             NaN          NaN           2       10
top              NaN             NaN          NaN      Female  Region5
freq             NaN             NaN          NaN         504      108
mean      500.500000        4.114000    47.565000         NaN      NaN
std       288.819436        1.961849    17.763088         NaN      NaN
min         1.000000        1.000000    18.000000         NaN      NaN
25%       250.750000        2.000000    32.000000         NaN      NaN
50%       500.500000        4.000000    47.000000         NaN      NaN
75%       750.250000        6.000000    63.000000         NaN      NaN
max      1000.000000        7.000000    79.000000         NaN      NaN

       Solid_Fuel_Usage Water_Access Sanitation_Access Housing_Type  \
count              1000         1000              1000         1000
unique                2            2                 2            2
top                  No          Yes                No       Formal
freq                501          520               512          506
mean                NaN          NaN               NaN          NaN
std                 NaN          NaN               NaN          NaN
min                 NaN          NaN               NaN          NaN
25%                 NaN          NaN               NaN          NaN
50%                 NaN          NaN               NaN          NaN
75%                 NaN          NaN               NaN          NaN
max                 NaN          NaN               NaN          NaN

       Satisfaction_Services Perceived_Quality Education_Level_Head  \
count                   1000              1000                 1000
unique                     3                 4                    4
top                  Neutral              Poor            Secondary
freq                     345               268                  253
mean                     NaN               NaN                  NaN
std                      NaN               NaN                  NaN
min                      NaN               NaN                  NaN
25%                      NaN               NaN                  NaN
50%                      NaN               NaN                  NaN
75%                      NaN               NaN                  NaN
max                      NaN               NaN                  NaN

           Latitude    Longitude
count   1000.000000  1000.000000
unique          NaN          NaN
top             NaN          NaN
freq            NaN          NaN
mean     -27.488772    29.543833
std        1.457189     1.450907
min      -29.993133    27.000170
25%      -28.766501    28.274119
50%      -27.435716    29.528971
75%      -26.261979    30.831150
max      -25.008213    31.997434

In [9]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Household_ID             0
Household_Size           0
Head_Age                 0
Head_Gender              0
Region                   0
Solid_Fuel_Usage         0
Water_Access             0
Sanitation_Access        0
Housing_Type             0
Satisfaction_Services    0
Perceived_Quality        0
Education_Level_Head     0
Latitude                 0
Longitude                0
dtype: int64

In [10]:
df.to_csv('cleaned_household_service_delivery_data.csv', index=False)

In [11]:
print("\nInfo of the cleaned dataset:")
print(df.info())

Info of the cleaned dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Household_ID           1000 non-null   int64
 1   Household_Size         1000 non-null   int64
 2   Head_Age               1000 non-null   int64
 3   Head_Gender            1000 non-null   object
 4   Region                 1000 non-null   object
 5   Solid_Fuel_Usage       1000 non-null   object
 6   Water_Access           1000 non-null   object
 7   Sanitation_Access      1000 non-null   object
 8   Housing_Type           1000 non-null   object
 9   Satisfaction_Services  1000 non-null   object
 10  Perceived_Quality      1000 non-null   object
 11  Education_Level_Head   1000 non-null   object
 12  Latitude               1000 non-null   float64
 13  Longitude              1000 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 109.5+ KB
None

In [12]:
#Numerical Data: Continuous values that can be used directly for many machine learning algorithms.

#Categorical Data: Discrete values that can be converted to numerical values using techniques such as one-hot encoding.